.navbar {
    padding: 15px;
    color: white;
    text-align: center;
    transition: top 1.5s, background-color 1.5s;
}

.sticky {
    position: fixed;
    height: 10%;
    top: 0;
    z-index: 111;
    background-color: transparent;
}

.sticky.scrolled {
    background-color: white;
    top: 0px;
    transition: .5s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 10px 0;

    font-weight: 400;
    outline: none;
    cursor: pointer;
}

.nav-link {
    /* color: white; */
    color: #A40000;
}

.nav-link.active .nav-link:hover {

    color: #002462;
}


.scrolled .nav-link {
    color: #A40000;
    background-color: white;
    transition: top 1.5s, background-color 1.5s;
}

.scrolled .nav-link:hover {
    color: #002462;
}


.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color:  #002462;
}

.collapse {
    background-color: #ffffffcc;
    border-radius: 10px;
}

.Logo_theX {
    width: 40%;
}


@media only screen and (max-width: 600px) {

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: rgb(0, 0, 0);
    }

    .navbar {
        text-align: center;
        background-color: white;
    }

    #navbarCollapse {
        background-color: white;
    }

    .nav-link {
        color: #A40000;
    }

    .nav-link.active .nav-link:hover {
        color: #002462;
        background-color: white;
    }

    .scrolled .nav-link {
        color: #A40000;
        background-color: white;
    }

    .Navcss {
        background-color: white;
    }

    .Logo_theX {
        width: 90%;
    }

}