<div class="mt-5 pt-5 mb-5 pb-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center pt-5 pb-5">
      <div class="col-12 col-lg-6" data-aos="fade-down">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <!-- <h1 class="mb-5" style="color: #860100">About Us</h1> -->
            <h3 class="mb-4 display-6" style="color: #a40000">About Us</h3>

            <p class="text-secondary p-0">
              We are The X linez, a shipping company based in Nagercoil, Tamil
              Nadu, India. With a strong commitment to reliable and efficient
              shipping services, we strive to meet the needs of our clients with
              professionalism and dedication,
              <br />
              <br />
              Our team is dedicated to providing top-notch shipping solutions,
              ensuring safe and timely delivery of goods.
              <br />
              <br />
              We take pride in our strong network and expertise in the industry,
              making us a trusted partner for all your shipping needs. Whether
              it's transportation, warehousing, or supply chain management,
              <br />
              <br />
              You can trust The X Linez to handle it with precision and care
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6" data-aos="fade-down">
        <img
          class="img-fluid rounded"
          loading="lazy"
          src="../../assets/images/company.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="row pt-5 pb-5">
      <div class="col-12">
        <div class="row">
          <div
            class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-delay=""
          >
            <div class="block-counter-1">
              <span class="number"><span data-number="10">10</span>+</span>
              <span class="caption">Years in Service</span>
            </div>
          </div>
          <div
            class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="block-counter-1">
              <span class="number"><span data-number="827">827</span>+</span>
              <span class="caption">clients</span>
            </div>
          </div>
          <div
            class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="block-counter-1">
              <span class="number"><span data-number="231">231</span>+</span>
              <span class="caption">Covered Countries</span>
            </div>
          </div>
          <div
            class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="block-counter-1">
              <span class="number"><span data-number="2332">2,332</span>+</span>
              <span class="caption">Couriers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5 pb-5">
    <div class="company_section layout_padding" data-aos="fade-down">
      <div class="container pt-5 pb-5">
        <h1 class="company_text text-white">Our Company</h1>
        <div class="compant_taital mt-3 mb-5">
          Welcome to The X Linez, a leading logistics company headquartered in
          Nagercoil, Tamil Nadu, India. Committed to excellence and customer
          satisfaction, we prioritize efficiency in delivering top-notch
          logistics services tailored to meet the unique needs of our clients.
          Our team comprises seasoned professionals dedicated to providing
          reliable and cost-effective solutions across various aspects of
          logistics, including transportation, warehousing, and supply chain
          management. You can trust The X Linez to handle your logistics
          requirements with precision and care.
        </div>
      </div>
    </div>
  </div>
</div>
