<div class="pt-5 mt-5 mb-5 pb-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center pt-5 pb-5">
      <div class="col-12 col-lg-6" data-aos="fade-down">
        <img class="img-fluid rounded" loading="lazy" src="../../assets/images/working-company.jpg" alt="logistics tracking" />
      </div>
      <div class="col-12 col-lg-6" data-aos="fade-down">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <!-- <h1 style="color: #860100">Get Started</h1> -->
            <h3 class="mb-4 display-6" style="color: #a40000">Get Started</h3>

            <p class="text-secondary p-0">
              We're always on the lookout to work with new clients. If you're
              interested in working with us, please get in touch in one of the
              following ways.
            </p>

            <form class="form p-0" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="username">
                <input type="text" formControlName="name" name="Name" id="name" placeholder="Enter your Name" required />
              </div>
              <div class="useremail">
                <input type="email" name="Email" formControlName="email" id="email" placeholder="Enter your email" required />
                <div *ngIf="contactForm.get('email')?.hasError('email') && contactForm.get('email')?.touched">
                  Invalid email address
                </div>
              </div>
              <div class="usermessage">
                <textarea formControlName="message" name="Message" id="message" placeholder="Enter your message" required></textarea>
              </div>
              <div class="usersubmit">
                <input type="submit" value="Sent Message" />
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>